<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form method='POST' action="/generate">
	<h3>Please enter details for the certificate:</h3>
	<label for='name'></label>
	<p>Name:</p>
	<input type="text" id="name" name="name" value=""><br><br>
	<p>Team Name:</p>
	<input type="text" id="team_name" name="team_name" value=""><br><br>
  <input type="submit" value="Submit">
	
</form>
</body>
</html>